extends layout

block content
  section#dreamsec(style='background-color:mediumspringgreen')
    != messages('message', locals)
    form(method='POST' action='/dreams/add')
    
      include dream_form
      
      button.bttn#submit-dream(type='submit') Create Dream
    script(src='/client.js')