extends layout

block content
  section#dreamsec(style='background-color:SkyBlue')
    != messages('message', locals)
    form(method='POST' action='/dreams/'+_id)
    
      include dream_form
      
      button.bttn(type='submit') Save Dream
      button.bttn.bttn-red#delete(type='button') Remove Dream
  script(src='/client.js')